
      <div style="height: 600px; width: 300px; border: solid 1px;float: left;margin-right: 50px;">
        <h4 style="text-align: center;">list of users</h4>
          <div class="row" style="float: left;">
            <div class="well" style="height:200px; padding:15px; float: left;">
              <ul class="list-group" style="cursor: pointer;">
                
                <li class="list-group-item " (click)="setReciever('community');getSocketID();" ><strong>Community </strong></li>
                
              </ul>  
              <div *ngFor="let item of userArray">
                <ul class="list-group" style="cursor: pointer;">
                
                  <li class="list-group-item "  (click)="setReciever(item.user);getSocketID();" ><strong>{{item.user}} </strong></li>
                </ul>
                </div>
              
            </div>
            </div>

      </div>
      <div id = "error-container"></div>
      
      <br>
      <div>
        <input id = "name" type = "text" name = "name" value = "kya hai" [(ngModel)]="user"
        placeholder = "Enter your name">
        <!-- <button type = "button" name = "button" (click) = "setUsername()">Register</button> -->
        <button type = "button"  name = "button" (click) = "userExists();setUsername();userlist();">Register</button>
        
        
        <br>
        <br>
        
        
  
          
  

        <input type = "text" id = "message" placeholder="Enter your message" [(ngModel)]="messageText">
        <button type = "button" name = "button" (click) = "sendMessage()">Send</button>

       
      </div>      

      <div>
        <label> Sender Name: {{ senderName }}</label><br>
        <label> Reciever Name: {{ reciever }}</label>

        
      </div>
      <div class="row">
        <div class="well" style="height:200px; padding:15px;">
            <div *ngFor="let item of messageArray">
            <span><strong>{{item.user}} : </strong> {{item.message}}</span>
            </div>
        </div>
        <div>
          
      </div>
        

      </div>
